torch~=2.6.0
torchvision~=0.21.0
transformers~=4.49.0
opencv-python~=4.10.0.84
pillow~=11.1.0
faiss-cpu  # or faiss-gpu if using a GPU

matplotlib~=3.10.1
PyYAML~=6.0.2
numpy~=1.26.4
utils~=1.0.2
requests~=2.32.3
onnxruntime~=1.21.1
yolov7~=0.1
pandas~=2.2.3
seaborn~=0.13.2
scipy~=1.15.2
tqdm~=4.67.1
wandb~=0.19.9
thop~=0.1.1-2209072238
ultralytics-thop~=2.0.14
setuptools~=68.2.2
pinecone~=6.0.2
pydantic~=2.10.6
cohere~=5.14.0
dotenv~=0.9.9
python-dotenv~=1.0.1
openai~=1.66.3
tenacity~=9.0.0
scikit-learn~=1.6.1